.grid-column{
    display: grid;
    grid-template-columns: repeat(30,10%);
    margin-top: 50px;
    margin-left: 50px;
}
.grid-column-title{
    display: flex;
    justify-content: center;
    text-align: center;
    justify-items: center;
    border: 1px solid #f2f4f5;
    background-color: blueviolet;
}
.grid-column-title p{
    color: rgb(243, 243, 239);
}