.grid-row-title{
    display: flex;
    justify-content: center;
    text-align: center;
    justify-items: center;
    border: 1px solid #7ecff7;
}
.grid-row-title span{
    color: rgb(7, 7, 7);
    display: inline-block;
    width: 100%;
    word-wrap: break-word;
    word-break: break-word;
}
.grid-row-column{
    display: grid;
    grid-template-columns: repeat(30,10%);
    margin-left: 50px;
    /* background: rgb(255, 255, 255); */
}

.selected{
    background: bisque;
}