.grid-row-title{
    display: flex;
    justify-content: center;
    text-align: center;
    justify-items: center;
    border: 1px solid #7ecff7;
    background-color: rgb(255, 255, 255);
}
.grid-row-title p{
    color: rgb(7, 7, 7);
    display: inline-block;
    width: 100%;
}
.grid-row-column{
    display: grid;
    grid-template-columns: repeat(30,10%);
    margin-left: 50px;
}